<div class="pagina">
  <div class="tarjeta">

    <h1 class="titulo">¿QUIÉN SOY?</h1>

    @if(usuarioGithub()){
    <div class="perfil">
      <img class="avatar" [src]="usuarioGithub().avatar_url" alt="foto de perfil">
      <h2 class="nombre">{{usuarioGithub().name}}</h2>
      <p class="descripcion">Tengo 23 años, soy un estudiante de Programación en la UTN y mis hobbies son ir al gimnasio y jugar juegos</p>
    </div>
    } @else {
      <p class="descripcion">Cargando...</p>
    }

    <hr class="divisor">

    <div class="seccion-juego">
      <h2 class="subtitulo">MI JUEGO</h2>
      <p class="descripcion">Muy pronto... Estate al tanto...</p>
    </div>

  </div>
</div>