<h1>¿Quién Soy?</h1>
<div>
    @if(usuarioGithub()){
    <h2>{{usuarioGithub().name}}</h2>
    <img [src]="usuarioGithub().avatar_url" alt="">
    <p>Tengo 23 años, soy un estudiante de Programacion en la UTN y mi hobbies son ir al gimnasio y jugar juegos</p>}
</div>
<div>
    <h2>Mi Juego</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, temporibus ea obcaecati magnam tempore nobis quia dolor. Voluptate, illo? Dolorum minus perspiciatis sit sint vitae ipsam optio pariatur? Quam, autem?</p>
</div>
